body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2 {
    color: rgb(202, 211, 219);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.weatherpagelink {
    padding: 10px 20px;
    font-size: 25px;
    color: rgb(18, 32, 75);
    background-color: rgb(202, 211, 219);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 1s ease, color 1s ease;
}

.weatherpagelink:hover {
    background-color: rgb(18, 32, 75);
    color: rgb(202, 211, 219);
}